# ninja
# packaging
transformers
aiohttp
bitsandbytes
# accelerate==1.6.0
# datasets==3.5.0
# einops==0.8.1
# fastapi==0.115.12
# flash_attn==2.7.4.post1
gradio
# huggingface-hub==0.29.3
# numpy==2.2.4
peft
pillow
python-dotenv
PyYAML
# safetensors==0.5.3
# sentencepiece==0.2.0
# tokenizers==0.21.1
torch
tqdm
triton
# unsloth==2025.3.19
# uvicorn==0.34.0
# xformers==0.0.29.post3
