ninja
packaging
accelerate==1.6.0
aiohttp==3.11.16
bitsandbytes==0.45.4
datasets==3.5.0
einops==0.8.1
fastapi==0.115.12
flash_attn==2.7.4.post1
gradio==5.23.3
huggingface-hub==0.29.3
numpy==2.2.4
peft==0.15.1
pillow==11.1.0
python-dotenv==1.1.0
PyYAML==6.0.2
safetensors==0.5.3
sentencepiece==0.2.0
tokenizers==0.21.1
torch==2.6.0
tqdm==4.67.1
transformers==4.50.3
triton==3.2.0
unsloth==2025.3.19
uvicorn==0.34.0
xformers==0.0.29.post3
